/* forces background color printing */
body {
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact;
  print-color-adjust: exact;
}

@page {
   margin: 0;
   padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

.print_content {
  background-color: #fff;
}

.print_page {
  width: 8in;
  height: 10.5in;
  margin: 0in;
  padding: 0.25in;
  padding-bottom: 0in !important;
}

.dot {
  margin: 0.15in;
  height: 1.6in;
  width: 1.6in;
  background-color: #fff;
  display: inline-block;
  border-radius: 50%;
  border-style: solid;
  border-color: #000;
}

.graphic {
  width: 1.24in;
  height: 1.24in;
  margin: auto;
  display: block;
  border-radius: 50%;
}

.center {
  height: 1.6in;
  width: 1.6in;
  position: relative;
}

.center img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
