/* forces background color printing */
body {
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact;
  print-color-adjust: exact;
}

@page {
   margin: 0;
   padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

.print_content {
  background-color: #fff;
}

.print_page {
  width: 8.5in;
  height: 11in;
  margin: 0in;
  padding: 0.125in;
  padding-bottom: 0in !important;
}

/* :root {
  --button-margin: 0.15in;
  --button-diameter: 1.6in;
  --graphic-diameter: 1.24in;
} */

:root {
  --button-margin: 0.0625in;
  --button-diameter: 2.5in;
  --graphic-diameter: 1.99in;
}

.dot {
  margin: var(--button-margin);
  height: var(--button-diameter);
  width: var(--button-diameter);
  background-color: #fff;
  display: inline-block;
  border-radius: 50%;
  border-style: solid;
  border-color: #000;
}

.graphic {
  width: var(--graphic-diameter);
  height: var(--graphic-diameter);
  margin: auto;
  display: block;
  border-radius: 50%;
}

.center {
  height: var(--button-diameter);
  width: var(--button-diameter);
  position: relative;
}


.center img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
